@import "../../../assets/colors.scss";

.nav_brand {
  width: 200px;

  .nav_logo {
    width: 100%;
  }
}

.nav_content_list {
  margin-left: 30px;

  a {
    text-transform: uppercase;
    text-decoration: none;
    color: $text-disabled;
    font-weight: 400;
    font-size: 16px;
    margin-left: 15px;
    padding: 8px;
    transition: all ease-in-out 0.1s;

    &:hover,
    &.active {
      border-bottom: 0.2rem solid $text-primary;
      color: $text-primary;
    }
  }
}

.nav_social_list {
  a {
    outline: none;
    border: none;

    i {
      font-size: 20px;
      padding: 9px;
      background-color: white;
      color: $text-primary;
    }
  }
}
